[submodule "Samples/Kits/DirectXTK"]
	path = Samples/Kits/DirectXTK
	url = https://github.com/jasonsandlin/DirectXTK.git
[submodule "External/websocketpp"]
	path = External/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "External/asio"]
	path = External/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "External/openssl"]
	path = External/openssl
	url = https://github.com/openssl/openssl
