###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Don't add crlf to Linux bash files or they get Bash: /bin/bash^M: bad interpreter errors
###############################################################################
*.bash text eol=lf
